<h1>New Blogger</h1>
<%= form_for( @blogger , remote: true) do |f| %>
<%=f.label :name%>
<%=f.text_field :name%>
<%=f.label :age%>
<%=f.number_field :age%>
<%=f.label :bio%>
<%=f.text_area :bio%>
<%=f.submit%>
<% end %>