<h1>Edit a Post </h1>

<% if @post.errors.any? %>
    <h3> Invalid Entry: </h3>
    <% @post.errors.full_messages.each do |message| %>
        <%= message %><br>
    <% end %>
<% end %>

<%= form_for @post do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br>
    <%= f.label :likes %>
    <%= f.number_field :likes %><br>
    <%= f.label :content %><br>
    <%= f.text_area :content %><br>
    <%= f.collection_select :blogger_id, @bloggers, :id, :name %><br>
    <%= f.collection_select :destination_id, @destinations, :id, :name %><br>
    <%= f.submit %>
<% end %>